/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0px;
  padding: 0px; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50vh; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0; } }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }
  @media only screen and (max-width: 500px) {
    .header {
      flex-wrap: wrap;
      margin: 0.2rem; } }

.content {
  display: flex; }
  @media only screen and (max-width: 500px) {
    .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.hotel-view {
  flex: 1; }

.logo {
  height: 3.25rem;
  margin-left: 3rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 500px) {
    .search {
      order: 1;
      flex: 0 0 100%;
      background-color: var(--color-grey-light-2); } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 3rem;
    width: 90%;
    margin-right: -3.5rem;
    transition: all 0.3s; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100; }
  .search__button {
    border: none;
    background-color: var(--color-grey-light-3); }
    .search__button:focus {
      outline: none;
      transform: translateY(-2px);
      background-color: var(--color-grey-light-3); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-1); }
  .user-nav__notification {
    font-size: 0.8rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 20px;
    right: 13px;
    text-align: center; }
    @media only screen and (max-width: 500px) {
      .user-nav__notification {
        top: 0; } }
  .user-nav__user-photo {
    border-radius: 50%;
    height: 3.75rem; }
    @media only screen and (max-width: 500px) {
      .user-nav__user-photo {
        height: 2.75rem;
        display: none; } }
  .user-nav__user-name {
    margin-left: 1rem;
    font-size: 1.5rem; }
    @media only screen and (max-width: 500px) {
      .user-nav__user-name {
        font-size: 1.4rem;
        margin-left: -10px; } }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 500px) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 500px) {
      .side-nav__item {
        flex: 1; }
        .side-nav__item:not(:last-child) {
          margin: 0px !important; } }
    .side-nav__item:not(:last-child) {
      margin-bottom: 1rem; }
      @media only screen and (max-width: 500px) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0px !important; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.3s, width 0.6s cubic-bezier(1, 0, 0, 1) 0.2s; }
  .side-nav__item:hover::before, .side-nav__item.active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 1.5rem 0.5rem; } }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 3rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-2); }
  @media only screen and (max-width: 500px) {
    .legal {
      display: none; } }

.hotel-view__images-container {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.hotel-view__image {
  width: 100%;
  display: block; }

.overview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-3); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media only screen and (max-width: 500px) {
      .overview__heading {
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 1rem; } }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__icon-star, .overview__location-icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    align-items: center; }
  .overview__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    background: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    align-self: stretch; }
  .overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
  .overview__rating-votes {
    font-size: 0.8rem;
    text-transform: uppercase; }

.btn-inline {
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
  border-bottom: 1px solid var(--color-primary); }
  .btn-inline:focus {
    outline: none; }

.detail {
  display: flex;
  background-color: var(--color-primary-light-1);
  padding: 4.5rem; }
  @media only screen and (max-width: 500px) {
    .detail {
      flex-wrap: wrap; } }
  .detail .description {
    display: block;
    flex: 0 0 60%;
    padding: 2.25rem;
    margin: 0 4.5rem 0 0;
    box-shadow: var(--shadow-dark);
    background-color: #fff; }
    @media only screen and (max-width: 500px) {
      .detail .description {
        flex: 0 0 100%;
        margin-bottom: 3rem; } }
    .detail .description .paragraph:not(:last-child) {
      margin-bottom: 2rem; }
    .detail .description .paragraph {
      font-size: 1.4rem; }
    .detail .description .list {
      list-style: none;
      margin: 3rem 0;
      padding: 3rem 0;
      border-top: 1px solid var(--color-grey-light-3);
      border-bottom: 1px solid var(--color-grey-light-3);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .detail .description .list-item {
        flex: 0 0 50%;
        font-size: 1.4rem;
        padding: 0.2rem; }
        .detail .description .list-item::before {
          content: "";
          display: inline-block;
          height: 1rem;
          width: 1rem;
          margin-right: 0.7rem;
          background-image: url(../img/chevron-thin-right.svg);
          background-size: cover; }
    .detail .description .recommend {
      font-size: 1.3rem;
      color: var(--color-grey-dark-3);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .detail .description .recommend .recommend__count {
        margin-right: auto; }
      .detail .description .recommend .recommend__friends {
        display: flex; }
        .detail .description .recommend .recommend__friends .recommend__photo:not(:last-child) {
          margin-right: -2rem; }
        .detail .description .recommend .recommend__friends .recomment_photo {
          box-sizing: content-box;
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          border: 3px solid #fff; }
          @media only screen and (max-width: 750px) {
            .detail .description .recommend .recommend__friends .recomment_photo {
              display: none; } }

.user-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 500px) {
    .user-review {
      flex: 0 0 100%; } }
  .user-review .review {
    padding: 3rem;
    box-shadow: var(--shadow-dark);
    background-color: #fff;
    margin-bottom: 3.5rem; }
    .user-review .review__text {
      font-size: 1.4rem;
      margin-bottom: 2rem; }
    .user-review .review__user {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .user-review .review__user-box {
      margin-right: auto; }
    .user-review .review__user-name {
      text-transform: uppercase;
      font-weight: 600; }
    .user-review .review__photo {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      margin-right: 1rem; }
      @media only screen and (max-width: 750px) {
        .user-review .review__photo {
          display: none; } }
    .user-review .review__rating {
      font-size: 2rem;
      color: var(--color-primary); }
  .user-review .btn-inline {
    font-size: 1.2rem;
    transition: font-size 0.7s; }
  .user-review .btn-inline:hover {
    font-size: 1.4rem; }

.cta {
  padding: 3.5rem 0;
  text-align: center;
  background-color: #fff; }
  .cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark)); }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:focus {
    outline: none; }
