/////////////////////////////// Logo
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

/////////////////////////////// Search Box
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 500px) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 3rem;
    width: 90%;
    margin-right: -3.5rem;
    transition: all 0.3s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-weight: 100;
    }
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-3);

    &:focus {
      outline: none;
      transform: translateY(-2px);
      background-color: var(--color-grey-light-3);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/////////////////////////////// User navigation
.user-nav {
  align-self: stretch;
  display: flex;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }
  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-1);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 20px;
    right: 13px;
    text-align: center;

    @media only screen and (max-width: 500px) {
      top: 0;
    }
  }

  &__user {
  }

  &__user-photo {
    border-radius: 50%;
    height: 3.75rem;

    @media only screen and (max-width: 500px) {
      height: 2.75rem;
      display: none;
    }
  }

  &__user-name {
    margin-left: 1rem;
    font-size: 1.5rem;
    @media only screen and (max-width: 500px) {
      font-size: 1.4rem;
      margin-left: -10px;
    }
  }
}

/////////////////////////////// Side Navigation
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: 500px) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    @media only screen and (max-width: 500px) {
      flex: 1;
      &:not(:last-child) {
        margin: 0px !important;
      }
    }

    &:not(:last-child) {
      margin-bottom: 1rem;

      @media only screen and (max-width: 500px) {
        margin-bottom: 0px !important;
      }
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.3s, width 0.6s cubic-bezier(1, 0, 0, 1) 0.2s;
  }

  &__item:hover::before,
  &__item.active::before {
    transform: scaleY(1);
    width: 100%;
  }

  //   &__item.active::before: {
  //     background-color: var(--color-primary-light);
  //   }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 37.5em) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 3rem;
    fill: currentColor;
  }
}

/////////////////////////////// Legal
.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-2);

  @media only screen and (max-width: 500px) {
    display: none;
  }
}

/////////////////////////////// Hotel Images
.hotel-view {
  &__images-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__image {
    width: 100%;
    display: block;
  }
}

/////////////////////////////// OVerview
.overview {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-3);
  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: 500px) {
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1.5rem 1rem;
    }
  }

  &__stars {
    display: flex;
    margin-right: auto;
  }

  &__icon-star,
  &__location-icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    display: flex;
    align-items: center;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    background: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }

  &__rating-votes {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

.btn-inline {
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
  border-bottom: 1px solid var(--color-primary);

  &:focus {
    outline: none;
  }
}

////////////////////////////// Details //////////////////////////
.detail {
  display: flex;
  //   justify-content: space-evenly;
  //   align-items: center;
  background-color: var(--color-primary-light-1);

  @media only screen and (max-width: 500px) {
    flex-wrap: wrap;
  }

  padding: 4.5rem;
  .description {
    display: block;
    flex: 0 0 60%;
    padding: 2.25rem;
    margin: 0 4.5rem 0 0;
    box-shadow: var(--shadow-dark);
    background-color: #fff;

    @media only screen and (max-width: 500px) {
      flex: 0 0 100%;
      margin-bottom: 3rem;
    }

    .paragraph:not(:last-child) {
      margin-bottom: 2rem;
    }
    .paragraph {
      font-size: 1.4rem;
    }

    .list {
      list-style: none;
      margin: 3rem 0;
      padding: 3rem 0;
      border-top: 1px solid var(--color-grey-light-3);
      border-bottom: 1px solid var(--color-grey-light-3);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      &-item {
        flex: 0 0 50%;
        font-size: 1.4rem;
        padding: 0.2rem;

        &::before {
          content: "";
          display: inline-block;
          height: 1rem;
          width: 1rem;
          margin-right: 0.7rem;
          background-image: url(../img/chevron-thin-right.svg);
          background-size: cover;
        }
      }
    }

    .recommend {
      font-size: 1.3rem;
      color: var(--color-grey-dark-3);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .recommend__count {
        margin-right: auto;
      }

      .recommend__friends {
        display: flex;

        .recommend__photo:not(:last-child) {
          margin-right: -2rem;
        }

        .recomment_photo {
          box-sizing: content-box;
          height: 4rem;
          width: 4rem;
          border-radius: 50%;
          border: 3px solid #fff;

          @media only screen and (max-width: 750px) {
            display: none;
          }
        }
      }
    }
  }
}

//// USer Review
.user-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 500px) {
    flex: 0 0 100%;
  }

  .review {
    padding: 3rem;
    // margin: 2.25rem;
    box-shadow: var(--shadow-dark);
    background-color: #fff;
    // align-self: stretch;
    margin-bottom: 3.5rem;

    &__text {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    &__user {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__user-box {
      margin-right: auto;
    }

    &__user-name {
      text-transform: uppercase;
      font-weight: 600;
    }

    &__photo {
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 50%;
      margin-right: 1rem;

      @media only screen and (max-width: 750px) {
        display: none;
      }
    }

    &__rating {
      font-size: 2rem;
      color: var(--color-primary);
    }
  }
  .btn-inline {
    font-size: 1.2rem;
    transition: font-size 0.7s;
  }

  .btn-inline:hover {
    font-size: 1.4rem;
  }
}

//////// Call to Action
.cta {
  padding: 3.5rem 0;
  text-align: center;
  background-color: #fff;

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  //   background-image: -webkit-gradient(
  //     linear,
  //     left top,
  //     right top,
  //     from(var(--color-primary-light)),
  //     to(var(--color-primary-dark))
  //   );
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
  }
}
