.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50vh;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
  }

  @media only screen and (max-width: 500px) {
    // width: 116%;
  }
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

  @media only screen and (max-width: 500px) {
    flex-wrap: wrap;
    margin: 0.2rem;
  }
}

.content {
  display: flex;

  @media only screen and (max-width: 500px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 18%;
  flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hotel-view {
  //   background-color: orange;
  flex: 1;
}
